/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITIES */

.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}

/* LAYOUT */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-header {
  min-height: 80px;
  background-color: rgb(220, 220, 220);
}

.page-main {
  flex-grow: 1;
  overflow: auto;
}

.page-footer {
  min-height: 80px;
  background-color: rgb(22, 22, 22);
  color: white;
  margin-top: auto;
}
